<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html lang="es">
<head th:replace="fragments/head"></head>
<body>

<!-- Nav -->
<nav th:replace="fragments/nav"></nav>

<!-- Breadcrumb -->
<div th:replace="fragments/breadcrumb"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">

            <div class="jumbotron">
                <h1 class="display-4">Embark upon a captivating quest</h1>
                <p class="lead">Where finesse meets clarity</p>
            </div>

            <p class="text-justify">
                Firstly, immerse yourself in the digital tapestry, conquering each game that graces your path. Traverse virtual landscapes, vanquish challenges, and emerge triumphant in every gaming odyssey.
            </p>

            <p class="text-justify">
                Next, exercise the faculties of your intellect in a discerning test—no labyrinthine conundrums, just a showcase of your mental acuity and sagacity.
            </p>

            <p class="text-justify">
                Yet, let not the quest be a mere checklist; rather, infuse the journey with merriment. Revel in the virtual landscapes, savor the triumphs, and find joy in the nuances of each gaming experience.
            </p>

            <p class="text-justify">
                In essence, conquer all games, navigate the test with grace, and ensure the journey is laden with enjoyment. Prepare yourself, noble adventurer, for the quest awaits with challenges and delights aplenty. May your path be resplendent and your victories grand.
            </p>

            <p class="text-justify">
                Upon the culmination of this noble quest, where digital landscapes have been conquered and intellectual prowess has shone, envision the bountiful rewards awaiting thee. Picture a realm of desired gifts and treasures, a well-earned trove that shall be bestowed upon thee in recognition of thy gaming prowess and mental acumen. Let the anticipation of these coveted spoils propel thee forward, for the journey's end heralds not just accomplishment, but the fulfillment of aspirations and the acquisition of treasures long sought. Prepare to revel in the spoils of your valiant odyssey, where triumphs yield the treasures thou so ardently seek. The grand finale awaits, promising a culmination befitting the triumphant adventurer.
            </p>

            <p class="text-justify text-secondary">
                <a href="/home/games" class="btn btn-dark">Start Quest</a>
                Or just start playing :)
            </p>


        </div>
    </div>
</div>

</body>
</html>